.App {
  text-align: center;
}

h5 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-size: 65px;

}

h4 {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 32px;
  font: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: 300px; 
  height: auto; 
}

.App-header {
  background-color: #6d5942;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {}
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #ffffff;
}

.sign-in-box {
  position: absolute;
  right: 50px;
  top: 60px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sign-in-box input,
.sign-in-box button {
  margin-top: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.sign-in-box button {
  background-color: #4CAF50; 
  color: white;
  border: none;
}

.sign-in-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logo {
  width: auto; 
}

.navbar {
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #1f1e1e;
  padding: 1rem 0;
}

.navbar a {
  color: white;
  padding: 0 2rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: #ddd;
}

.signed-in-box {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.signed-in-box span {
  margin-right: 10px;
}

.signed-in-box button {
  border: none;
  background-color: transparent;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  cursor: pointer;
}

.signed-in-box button:hover {
  text-decoration: underline;
  background-color: #645f5f;
}

.create-account-button {
  padding: 10px 20px;
  background-color: #bd9c70;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.create-account-button:hover {
  background-color: #c2a273;
}

.create-account-box {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.create-account-box input,
.create-account-box button {
  margin-top: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.create-account-box button {
  background-color: #bd9c70; 
  color: white;
  border: none;
}

.create-account-box button:hover {
  background-color: #c2a273;
}



