.calendar {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #6d5942;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-size: 1em; 
    padding: 20px; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6d5942;
    color: #ffffff;
    padding: 20px; 
    font-size: 1.2em; 
    border-radius: 10px 10px 0 0;
}

.nav-btn {
    background-color: #1f1e1e;
    color: #ffffff;
    border: none;
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

.days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #1f1e1e;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    padding: 15px; 
}

.week {
    display: flex;
}

.day {
    flex: 1;
    border: 1px solid #000000;
    padding: 5px;
    text-align: center;
}

.day.empty {
    background-color: #6d5942;
    height: 60px; 
}

.day.selected {
    background-color: #cfbd9e;
    border-radius: 50%;
}

.event {
    background-color: #cfbd9e;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 0.8em; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #8c6d3e;
}

.error {
    color: #ff0000;
    font-size: 1em;
    margin-top: 10px;
}

.event button {
    background-color: #bd9c70;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 10px;
    transition: background-color 0.3s;
}

.event button:hover {
    background-color: #c2a273;
}

.event-form {
    margin-top: 20px;
    padding: 0px;
}

.event-form label, label {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9em; 
}

input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #999999;
    font-size: 0.9em; 
}

.button {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: #1f1e1e;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.9em; 
}

.event button {
    padding: 5px 5px;
    font-size: 0.8em; 
}

/* Media Queries for further responsiveness */
@media (max-width: 600px) {
    .header, .nav-btn, .days-of-week, .event, .button, label, input[type="text"], .event button {
        font-size: 0.8em; 
    }

    .nav-btn, .button {
        padding: 8px 10px; 
    }

    .calendar, .header, .days-of-week {
        padding: 10px;
    }
}

