/* Mobile-first approach */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Content container */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Community container */
.community {
    position: relative;
    margin-bottom: 30px;
}

/* Headings */
h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
}

/* Paragraphs */
p {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
}

/* Images */
img {
    max-width: 100%;
    height: 500px; 
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
    margin-bottom: 10px;
    border: 4px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Description */
.description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.568); 
    color: rgb(255, 255, 255);
    padding: 20px;
    padding-top: 100px;
    text-align: center;
    font-size: 28px;
    opacity: 0;
    transition: opacity 0.3s; 
}

/* Show description on image hover */
.community:hover .description {
    opacity: 1;
}


